@model Exiao.Demo.DataAccess.InventoryEntry

@{
    ViewBag.Title = CultureHelper.GetViewText("CreateInventory");
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>@CultureHelper.GetViewText("Inventory")</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.SupplierId, htmlAttributes: new { @class = "control-label col-md-2" }, labelText: CultureHelper.GetViewText("SupplierId"))
            <div class="col-md-10">
                @Html.DisplayFor(model => model.SupplierId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.HiddenFor(model => model.SupplierId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProductSku, htmlAttributes: new { @class = "control-label col-md-2" }, labelText: CultureHelper.GetViewText("Sku"))
            <div class="col-md-10">
                @Html.DisplayFor(model => model.ProductSku, new { htmlAttributes = new { @class = "form-control" } })
                @Html.HiddenFor(model => model.ProductSku)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsUnlimited, htmlAttributes: new { @class = "control-label col-md-2" }, labelText: CultureHelper.GetViewText("IsUnlimited"))
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.IsUnlimited)
                    @Html.ValidationMessageFor(model => model.IsUnlimited, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AvailableQuantity, htmlAttributes: new { @class = "control-label col-md-2" }, labelText: CultureHelper.GetViewText("AvailableQuantity"))
            <div class="col-md-10">
                @Html.EditorFor(model => model.AvailableQuantity, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AvailableQuantity, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ExtraData, htmlAttributes: new { @class = "control-label col-md-2" }, labelText: CultureHelper.GetViewText("ExtraData"))
            <div class="col-md-10">
                @Html.EditorFor(model => model.ExtraData, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ExtraData, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@CultureHelper.GetViewText("Save")" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
