@model Goexw.ViewModels.QueryCatalogReportViewModel
<div class="row">
    @*<div class="col-md-3" style="background: lightblue">
        <p>Category tree </p>
        <p>Category tree </p>
        <p>Category tree </p>
        <p>Category tree </p>
        <p>Category tree </p>
        <p>Category tree </p>
    </div>*@
    <div class="col-md-12">
        <div class="row clearfix">
            <div class="col-md-12">
                <ul class="pager no-margin pull-right">
                    <li class="previous @(@Model.Page == 1 ? "disabled":"")">
                        @if (@Model.Page == 1)
                        {
                            <a href="#">Previous</a>
                        }
                        else
                        {
                            <a href="@Url.Action("Index","Search",new
                                     {
                                         category = @Model.Parameters.Category,
                                         keyword = @Model.Parameters.Keyword,
                                         page = @Model.Parameters.Page - 1,
                                         price = @Model.Parameters.Price,
                                         shipmethod = @Model.Parameters.Shipmethod
                                     })">Previous</a>
                        }
                    </li>
                    <li class="next @(@Model.HasMoreItem ? "" : "disabled")">
                        @if (Model.HasMoreItem)
                        {
                            <a href="@Url.Action("Index", "Search", new
                                     {
                                         category = @Model.Parameters.Category,
                                         keyword = @Model.Parameters.Keyword,
                                         page = @Model.Parameters.Page + 1,
                                         price = @Model.Parameters.Price,
                                         shipmethod = @Model.Parameters.Shipmethod
                                     })">Next</a>
                        }
                        else
                        {
                            <a href="#">Next</a>
                        }
                    </li>
                </ul>
            </div>
        </div>


        @foreach (var item in @Model.CatalogItems)
        {
            <div class="row" style="min-height: 2px; background: darkseagreen"></div>

            <div class="row">
                <div class="col-md-2">
                    <img src="~/Content/mockimgs/mp1.jpg" class="img-thumbnail" />
                </div>

                <div class="col-md-3">
                    <a href="@Url.Action("Detail", "Product",new
                             {
                                 id = @item.Sku,
                                 category = @Model.Parameters.Category,
                                 keyword = @Model.Parameters.Keyword,
                                 price = @Model.Parameters.Price,
                                 shipmethod = @Model.Parameters.Shipmethod
                             })">
                        <h4>Sku: @item.Sku</h4>
                    </a>
                </div>
                
                <div class="col-md-3">
                    <div>
                        <h4>UnitPrice:</h4>@item.UnitPrice
                    </div>

                    <div>
                        <h4>SupplierId:</h4>@item.SupplierId
                    </div>

                    @*<div>
                <span>UnitPrice: @item.UnitPrice</span>
                <span>SupplierId: @item.SupplierId</span>
            </div>*@
                </div>
            </div>

            
        }
    </div>
</div>


@section SearchPartial
{
    @{Html.RenderAction("SearchPartial", "Search");}
}